.card.custom-card {
  border: 2px solid lightgrey;
  max-height: 380px;
  height: 380px;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card.bottom-card {
  max-height: 12rem;
}

.img-card{
 width: 100%;
 height: 150px;
}

.card-body{
  background: #f9f9f9;
  border: 1px solid rgb(221, 216, 216);
}

.card-body:hover, .selected.card-body {
  background: #8b818175;
  border: 1px solid #7a606098; 
}
.selected.card-body { 
  -webkit-filter: blur(2px);
}
.col-custom{
  margin-bottom: 20px;
}
.custom-card.card {
  background: aliceblue;
}

.top-img{
  width: 100%;
  max-height: 345px;
  height: 345px;
}